.cta-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("txtBg.jfif");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  background-color: black; /* Light cyan background */
 
  align-content: center;
  text-align: center;
  padding: 100px 0;

  max-width: 100vw; /* Centering the container */
}
.cta__content {
  z-index: 1;
}

.cta-title {
  font-size: 24px;
  color: white; /* Teal color */
  margin-bottom: 15px;
}

.cta-description {
  font-size: 16px;
  color: #cccccc; /* Dark gray for readability */
  margin-bottom: 20px;
}

.cta-button {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}
